Flask>=2.2,<3.0
Flask-SQLAlchemy>=3.0,<3.1
Flask-Login>=0.6,<0.7
celery>=5.2,<6.0
redis>=4.0,<5.0
python-socketio>=5.0,<6.0
Flask-SocketIO
eventlet>=0.33.0
PyPDF2>=3.0,<3.1
nltk>=3.7,<3.9
pytube>=15.0,<16.0
youtube_transcript_api>=0.6,<0.7
elasticsearch>=7.0,<8.0
azure-ai-textanalytics>=5.3.0,<5.4.0
azure-cognitiveservices-speech==1.38.0
azure-cognitiveservices-vision-computervision>=0.9.0,<0.10.0
azure-ai-translation-text==1.0.0b1
msrest>=0.7.0,<0.8.0
python-dotenv>=0.20
gunicorn>=20.1,<22.0
dnspython>=2.0.0
Werkzeug>=2.2.0,<3.0.0
